<%include ./partials/header%>
<div class="background"></div>
<div style="height: 85vh" class="container d-flex align-items-center justify-content-center">
    <div style="width: 80%" class="card">
        <h5 class="card-header grey darken-4 white-text text-center mb-5 py-4">
            <strong>Login</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" action="/login" method="POST">
                <div class="md-form">
                    <input class="form-control" type="text" name="username" id="usrname" placeholder="username">
                    <label for="usrname">User Name</label>
                </div>
                <div class="md-form">
                    <input class="form-control" type="password" name="password" id="psswrd" placeholder="password">
                    <label for="psswrd">Password</label>
                </div>
                <div class="md-form">
                    <button class="btn btn-lg blue-gradient">Login!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<%include ./partials/footer%>