<% include ../partials/header %>
<div class="background"></div>
<div style="height: 85vh" class="container d-flex align-items-center justify-content-center">
    <div style="width: 80%" class="card">
        <h5 class="card-header grey darken-4 white-text text-center py-4">
            <strong>Create New View</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" action="/campgrounds" method="POST">
                <div class="md-form">
                    <input id="name" class="form-control" type="text" name="name" required>
                    <label for="name">View Name</label>
                </div>
                <div class="md-form">
                    <input class="form-control" type="text" name="image" id="image" required>
                    <label for="image">Image Link</label>
                </div>
                <div class="md-form">
                    <input class="form-control" type="number" name="rating" id="rating" min="1" max="10" step="0.01"
                        required>
                    <label for="rating">Rating</label>
                </div>
                <div class="md-form">
                    <input class="form-control" type="text" name="description" id="description">
                    <label for="description">Description</label>
                </div>
                <div class="md-form">
                    <button class="btn btn-lg blue-gradient">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>