.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#map {
    width: 100%;
    height: 400px;
}